<div class="row offset-4 mt-5" style="background-color:#D9D9D6;height:250px;width:400px;align-items:center">
	

	<div class="col-8 offset-1">
		<h3>You signed out of your account</h3>
		<p>
			It's a good idea to close all browser windows.
		</p>
	</div>
</div>